<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098722520686-jl6oj4od6a4ss4p0104kdkghq51m1js3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098722520686-jl6oj4od6a4ss4p0104kdkghq51m1js3</string>
	<key>API_KEY</key>
	<string>AIzaSyCOy0VwvzaMxqqUo5o7K1p_vP4dnQdyT10</string>
	<key>GCM_SENDER_ID</key>
	<string>1098722520686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SawitCareApk</string>
	<key>PROJECT_ID</key>
	<string>sawitcare-8a542</string>
	<key>STORAGE_BUCKET</key>
	<string>sawitcare-8a542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098722520686:ios:f62965150fefe24807007f</string>
	<key>DATABASE_URL</key>
	<string>https://sawitcare-8a542-default-rtdb.firebaseio.com</string>
</dict>
</plist>