<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098722520686-vlk7e4bds3rh6pq2nldga7vcf4ig474g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098722520686-vlk7e4bds3rh6pq2nldga7vcf4ig474g</string>
	<key>API_KEY</key>
	<string>AIzaSyCOy0VwvzaMxqqUo5o7K1p_vP4dnQdyT10</string>
	<key>GCM_SENDER_ID</key>
	<string>1098722520686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kebunApp</string>
	<key>PROJECT_ID</key>
	<string>sawitcare-8a542</string>
	<key>STORAGE_BUCKET</key>
	<string>sawitcare-8a542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098722520686:ios:70c8b83a39293bf607007f</string>
</dict>
</plist>